{% extends 'base.html' %}
{% load static %}
{% load pic_tags %}
{% load post_tags %}


{% block main %}
<div class="ui divided items">
  {% for pic in pics %}
    <div class="item">
      <div class="ui image" style="width:400px">
        <img src="{{ pic.url }}">
      </div>
      <div class="content">
        <a class="header">{{ pic.title }}</a>
        <div class="extra">
          <div class="date">{{ pic.created_time }}</div>
          <div class="ui label"><i class="heart icon"></i> {{ pic.likes }}</div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock main %}


{% block title %}
<title>所有有的没的都在这大好河山呢</title>
{% endblock title %}

{% block tags %}

  <div class="item">
  <div class="ui blue segment" style="width:100%">
  <div class="content">
    <h3 class="header">最新文章</h3>
    {% get_recent_posts as recent_post_list %}
    <div class="ui list">
      {% for post in recent_post_list %}
      <div class="item">
				<a href="{{ post.get_absolute_url }}"><i class="black book icon"></i>
					<span class="ui blue label" style="padding:4px">{{ post.category.name }}</span>
					--{{ post.get_date }}<br/>{{ post.short_title }}
				</a>
      </div>
      {% empty %}
      暂无文章！
      {% endfor %}
    </div>
  </div>
</div>
</div>

  <div class="item">
    <div class="ui blue segment" style="width:100%">
      <div class="content">
        <h3 class="header">分类</h3>
        <div class="ui list">
            <div class="item">
              <a href="{% url 'pics:category' 'gifs' %}"><i class="grey folder icon"></i>gifs</a>
            </div>
            <div class="item">
              <a href="{% url 'pics:category' 'pics' %}"><i class="grey folder icon"></i>pics</a>
            </div>
						<div class="item">
							<a href="{% url 'pics:hidden' %}"><i class="grey folder icon"></i>hidden</a>
						</div>
        </div>
    </div>
  </div>
  </div>
  <div class="item">
    <div class="ui blue segment" style="width:100%">
      <div class="content">
        <h3 class="header">归档</h3>
        {% archives as date_list %}
      <div class="ui list">
        {% for date in date_list %}
          <div class="item">
            <a href="{% url 'pics:archives' date.year date.month %}"><i class="grey folder icon"></i>{{ date.year }}年{{ date.month }}月</a>
          </div>
        {% empty %}
        暂无归档！
        {% endfor %}
      </div>
      {% archives_year as date_list %}
      <div class="ui list">
        {% for date in date_list %}
          <div class="item">
            <a href="{% url 'pics:archives_year' date.year %}"><i class="grey folder icon"></i>{{ date.year }}年</a>
          </div>
        {% empty %}
        暂无归档！
        {% endfor %}
      </div>
    </div>
  </div>
  </div>


{% endblock tags %}


{% block search %}
<div class="right item" style="padding:0">
  <form role="search" method="get" class="form" action="{% url 'pics:search' %}">
      <div class="ui icon input"><input type="search" name="q" placeholder="关键词" required><i class="search link icon"></i></div>
      <button class="ui button" type="submit"><i class="search icon"></i>搜索</button>
  </form>
</div>
{% endblock search %}

{#{% block jump %}#}
{#  <a class="item" href="">#}
{#    <form role="search" method="get" class="form" action="{% url 'pics:search' %}">#}
{#        <span class="ui icon input"><input type="search" name="q" placeholder="关键词" required><i class="search link icon"></i></span>#}
{#        <button class="ui button" type="submit"><i class="search icon"></i>搜索</button>#}
{#    </form>#}
{#  </a>#}
{#{% endblock jump %}#}

{% block paginator %}
{% endblock paginator %}