{% extends 'base.html' %}
{% load static %}
{% load post_tags %}


{% block main %}
  <div class="ui blue segment">
    <div>
      {% if to %}
      <a href="{% url from to %}" title="点击再翻一次">
      {% else %}
      <a href="{% url from %}">
      {% endif %}
      <img class="ui centered large image" src="{{ pic.url }}">
      </a>
    </div>
    <div class="ui divider"></div>

  </div>
{% endblock main %}

{% block tags %}
  <div class="item">
		<div class="ui blue segment" style="width:100%">
			<div class="content">
				<h3 class="header">最新文章</h3>
				{% get_recent_posts as recent_post_list %}
				<div class="ui list">
					{% for post in recent_post_list %}
					<div class="item">
						<a href="{{ post.get_absolute_url }}"><i class="black book icon"></i>
							<span class="ui blue label" style="padding:4px">{{ post.category.name }}</span>
							--{{ post.get_date }}<br/>{{ post.short_title }}
						</a>
					</div>
					{% empty %}
					暂无文章！
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	  <div class="item">
			<div class="ui blue segment" style="width:100%">
				<div class="content">
					<h3 class="header">分类</h3>
					<div class="ui list">
							<div class="item">
								<a href="{% url 'pics:random_category' 'tupian' %}"><i class="grey folder icon"></i>妹子图片</a>
							</div>
							<div class="item">
								<a href="{% url 'pics:random_category' 'dongtu' %}"><i class="grey folder icon"></i>妹子动图</a>
							</div>
					</div>
			</div>
		</div>
  </div>
{% endblock tags %}

{% block title %}
<title>随便翻翻牌子</title>
{% endblock title %}